hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #03045E;
  border-top: 0;
}

.bg-primary {
  background-color: #023E8A!important;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #023e8a;
}

.nav-link:hover, .nav-link:focus {
  color: #023e8a;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #023e8a;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: rgb(255,255,255,0.5);
  border-color: #dee2e6 #dee2e6 #fff;
}

/* Animation */

.css-typing p {
  border-right: .15em solid rgb(0,60,149);
  font-family: "Courier";
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  background-color: rgba(255,255,255,0.05);
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  width: 11.5em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  background-color: rgba(255,255,255,0.05);
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  width: 6em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  background-color: rgba(255,255,255,0.05);
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  width: 8em;
  opacity: 0;
  -webkit-animation: type3 4s steps(20, end), blink .4s step-end infinite alternate;
  animation: type3 4s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(0,60,149);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid rgb(0,60,149);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

a:hover {
  color: #023e8a;
}

a:hover {
  color: #023e8a;
}

a {
  color: #023e8a;
  transition: all .2s;
}

a {
  color: #023e8a;
  text-decoration: underline;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #023e8a;
  transition: all .2s;
}

/* Scroll Personalizado */

